
@{
    ViewBag.Title = "Index";
}

<h1 style="color:darkcyan;font-size:250%; text-align:center;padding-top:100px;font-weight:bold;">Product Delivery Management Project</h1>
<h3 style="color:darkblue;font-size:200%; text-align:center;">Rahib Howlader</h3>

